@media only screen and (max-height: 575px) {
  .my-nav{
    height: 575px;
  }
  #left-posts-box{
    height: 575px;
  }
}
@media only screen and (min-height: 775px) {
  .if-height-is-min-776{
    padding-bottom: 200px;
  }
}
@media only screen and (min-height: 900px) {
  .if-height-is-min-776{
    padding-bottom: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .my-nav{
    height: auto;
    border-right: none;
  }
  #left-posts-box{
    height: auto;
    overflow-y: auto;
  }
  .navbar{
     position: static;
     /* display: inline; */
  }
  .if-height-is-min-776{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 0px;
  }
  .if-height-is-min-776 li{
    border-bottom: 5px solid #0b2725;;
  }
  .navbar-expand-lg .navbar-nav{
    text-align: center;
  }
  #logo{
    display: inline;
  }
  .sign-social-section{
    /* display: none; */
    width: 100%;
  }
}
@media only screen and (max-width: 310px) {
  body{
    width: 310px;
  }
}
@media only screen and (max-width: 500px) {
  #card img{
    width: 100%;
    /* float: left; */
    /* padding: 5px; */
  }
}
