.navbar-expand-lg .navbar-nav{
  flex-direction: column;
}
a img{
  width: 30px;
  height: 30px;
}
#left-posts-box{
  height: 100vh;
  overflow-y: scroll;
}
.my-nav{
  height: 100vh;
  background: #0d6961;
  border-right: 15px solid #0b2725;
}
#log_reg_btn{
  border: none;
  background: none;
  border-radius: none;
  background: #0b2725;
  color: white;
  padding: 10px;
}
.background-right{
  background: #114a45;
}
#card{
  background: #0d6961;
  padding: 20px;
}
#card h3{
  text-align: center;
  background: #0b2725;
}
#card img{
  width: 60%;
  height: 209px;
  float: left;
  padding: 5px;
}
#card span{
  line-height: 1.2;
  float: left;
}
.navbar{
   position: absolute;
   bottom: 5px;
}
